:root {
  --color-surface: #0e141b;
  --color-text: bisque;
  --color-toggle-light: #0e141b;
  --color-toggle-dark: bisque;
}
html {
  background: var(--color-surface);
  color: var(--color-text);
  font-family: sans-serif, system-ui;
  text-align: center;
}
#root {
  padding: 5em;
}
